body {
	margin: 0px;
	background: white;
}
#header, #wrap{
	width: 800px;
	text-align: center;
	margin:25px;
	line-height:2;
	padding:2px;
}



  #menu li {
  list-style-type:none;
  margin:0 0 0.25em 0;
  }
#menu a {
  display:block;
  width:9em;
  border:1px solid #808;
  font-family:arial, verdana, sans-serif;
  font-size:0.8em;
  text-align:justify;
  text-decoration:none;
  padding:0.25em; /* ADDED */
  }
}

#menu a:hover {
	background: Aquamarine;
	color: DarkSlateGray;
}
#wrap{
	width: 800px;
	background: #dec;
	margin: auto;
	overflow: auto;
	min-height:600px;
}

#banner, #footer {
background: #dec;
text-align:center;
border-width: 4px 0px;
border-style:solid;
border-color:#cdb;


}




#banner img{vertical-align: bottom; width: 800px;}
#footer { margin-top:50px;}

#gallery img, form p  {
	border: solid #dec 3px;
	padding:5px;
}

#footer { margin-top:100px;}
form label {display: block;}
form p { 
	margin: 15px;
	display: inline-block;
	text-align: center;
}