<div id="login">
	<form action="?page=bronn" method="POST" >
	<div id="content">
					
						<input type="text" name="nimi"  /> nimi <br/>
						
						<input type="number" name="vanus" /> vanus<br/>
						
						Sugu: <br/>
						<label><input type="radio" name="sugu" value="m" /> M</label><br/>
						<label><input type="radio" name="sugu" value="n" /> N</label><br/>
						
						<input type="text" name="kood" /> Kood<br/>
						<textarea name="komm"></textarea><br/>
						<input type="submit" value="registreeru"/>
					</form>
					
								</div>
		