		<div id="wrap">
		<h4>Aja broneerimine</h4>
		<form action ="?page=lisa" method ="POST" enctype="multipart/form-data">
		
	<input type="text" name="nimi" placeholder="Teie nimi" <?php if (!empty($_POST["nimi"]))
echo "value =\" ".htmlspecialchars($_POST["nimi"])."\" "; ?> /><br/>
<input type="text" name="auto" placeholder="Autonumber" <?php if (!empty($_POST["auto"]))
echo "value =\" ".htmlspecialchars($_POST["auto"])."\" "; ?> /><br/>

<input type="email" name="email" placeholder="Teie email" <?php if (!empty($_POST["email"]))
echo "value =\" ".htmlspecialchars($_POST["email"])."\" "; ?> /><br/>
		Teenused:<br/>
		<label><input type ="radio" name="teenus" value="käsipesu" <?php if (!empty($_POST["teenus"]) && $_POST ["teenus"]=="käsipesu")
		echo "checked"; ?>/> Käsipesu </label>
	 <label><input type ="radio" name="teenus" value="salong" <?php if (!empty($_POST["teenus"]) && $_POST ["teenus"]=="salong")
		echo "checked"; ?>/> Salongi puhastus </label>
		 <label><input type ="radio" name="teenus" value="keemia" <?php if (!empty($_POST["teenus"]) && $_POST ["teenus"]=="keemia")
		echo "checked"; ?>/> Keemiline puhastus </label>
 <label><input type ="radio" name="teenus" value="vaha" <?php if (!empty($_POST["teenus"]) && $_POST ["teenus"]=="vaha")
		echo "checked"; ?>/> Vahatamine </label>
		Kuupäev:
	     <input type="date" name="date" placeholder="aasta-kuu-päev" min="2016-06-01" max="2016-07-01"><?php if (!empty($_POST["date"]))
echo "value =\" ".htmlspecialchars($_POST["date"])."\" "; ?><br>


	    Sobiv aeg:
		<select name="aeg">
    		<option value="10.00-11.00">10.00-11.00</option> <?php if (!empty($_POST["aeg"]) && $_POST ["teenus"]=="10.00-11.00")
		echo "checked"; ?><br/>
		<option value="11.00-12.00">11.00-12.00</option> <?php if (!empty($_POST["teenus"]) && $_POST ["teenus"]=="11.00-12.00")
		echo "checked"; ?><br/>
		<option value="12.00-13.00">12.00-13.00</option> <?php if (!empty($_POST["teenus"]) && $_POST ["teenus"]=="12.00-13.00")
		echo "checked"; ?><br/>
		<option value="13.00-14.00">13.00-14.00</option> <?php if (!empty($_POST["teenus"]) && $_POST ["teenus"]=="13.00-14.00")
		echo "checked"; ?><br/>
		<option value="14.00-15.00">14.00-15.00</option> <?php if (!empty($_POST["teenus"]) && $_POST ["teenus"]=="14.00-15.00")
		echo "checked"; ?><br/>
		<option value="15.00-16.00">15.00-16.00</option> <?php if (!empty($_POST["teenus"]) && $_POST ["teenus"]=="15.00-16.00")
		echo "checked"; ?><br/>
		</select>
		<br/>
	    <textarea name="comment" placeholder="Märkused puuduvad" value="<?php echo htmlspecialchars($_POST['comment']); ?>"><?php if (!empty($_POST["comment"]))
		echo htmlspecialchars($_POST["comment"]); ?>Märkused </textarea>
		<br/>
		
			
	<input type="submit"  value="Broneeri"/>
	</form>

	
	<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:black;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
	<?php endif;?>
		</div>
	