<div id ="wrap">
<form action="?page=muuda" method="POST" enctype="multipart/form-data">
<div id="wrap">
		<h4>Admini õigustega isik saab muuta kliendi id abil kuupäeva ja aega. Näiteks kui näeb et kaks ja rohkem inimest soovivad sama kuupäeva ja sama aega </h4>
	
<input type="hidden" name="id" value="<?php if (isset($_GET['id'])) echo htmlspecialchars($_GET['id']); ?>"/><br>
		Muuda bronneringu kuupäeva:
	     <input type="date" name="date" placeholder="aasta-kuu-päev" min="2016-06-01" max="2016-07-01" value="<?php if (isset($user['date'])) echo htmlspecialchars($user['date']); ?>"/><br/>


	    Muuda valitud aeg:
		<select name="aeg">
    		<option value="10.00-11.00">10.00-11.00<value= "<?php if (isset($user['aeg'])) echo htmlspecialchars($user['aeg']); ?>"/></option><br/>
		<option value="11.00-12.00">11.00-12.00<value= "<?php if (isset($user['aeg'])) echo htmlspecialchars($user['aeg']); ?>"/></option><br/>
		<option value="12.00-13.00">12.00-13.00<value= "<?php if (isset($user['aeg'])) echo htmlspecialchars($user['aeg']); ?>"/></option><br/>
		<option value="13.00-14.00">13.00-14.00<value= "<?php if (isset($user['aeg'])) echo htmlspecialchars($user['aeg']); ?>"/></option><br/>
		<option value="14.00-15.00">14.00-15.00<value= "<?php if (isset($user['aeg'])) echo htmlspecialchars($user['aeg']); ?>"/></option><br/>
		<option value="15.00-16.00">15.00-16.00<value= "<?php if (isset($user['aeg'])) echo htmlspecialchars($user['aeg']); ?>"/></option><br/>
		</select>
		
		<br/>
		
			
	<input type="submit"  value="Muuda broneeringut"/>
	</form>

	
	
		</div>
	