<div id="wrap">
<?php foreach($kliendid as $i=>$klient): ?>
		Kliendi id: <?php echo $kliendid [$i]['id'];?>
		Kliendi nimi: <?php echo $kliendid [$i]['kliendi_nimi'];?>
		Auto number: <?php echo $kliendid [$i]['autonumber'];?>
		Tellitud teenus: <?php echo $kliendid [$i]['pesu'];?>
		</br>
		 <?php endforeach; ?>
	

			
			 <?php if($_SESSION['user'] == 'admin'): ?>

				<a href="?page=muuda&id=<?php echo $klient['id']; ?>" > id=<?php echo $kliendid [$i]['id']; ?> </a>
				 <?php endif;?>
				
				 
				 	
				 	
				 	 

      
      
      </div>