<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Autopesula</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id ="header">
<ul id ="menu">
		<li><a href="?">Pealeht</a></li>
		<?php if(isset($_SESSION['user'])): ?>
			<li><a href="?page=bronn">Broneeringud</a></li>
			<li><a href="?page=logout">Logi välja</a></li>
				
			<?php if($_SESSION['user']=='admin'): ?>
			<li><a href="?page=vaata">Vaata broneerigud</a></li>
			<?php endif;?>
		
		<?php else: ?>
			<li><a href="?page=login">Logi sisse</a></li>
			<li><a href="?page=registreeri">Registreeri</a></li>
		
		<?php endif; ?>
			
		
			</ul>
			</div>
			
		
<div id = "banner">
		<img src = "pildid/banner.jpg" alt ="banner">
		</div>

	<div id="content">
	