<?php if (!empty($puurid)):?>
	<?php foreach($puurid as $id=>$puur): ?>
		<div>
			<h5>Puur <?php echo $id; ?> on:</h5>
			<?php foreach($puur as $id=>$loom): ?>
				<img src="<?php echo $puur [$id]['liik']; ?>"
				 alt="<?php echo $puur [$id]['nimi']; ?>">
				 <?php echo "Nimi: ".$puur[$id]['nimi']; ?>
				 <?php if($_SESSION['user'] == 'admin'): ?>

				<a href="?page=muuda&id=<?php echo $loom['id']; ?>" > id=<?php echo $loom['id']; ?> </a>
				<?php endif; ?>
      <?php endforeach; ?>
  </div>
			<?php endforeach;
endif;?>