<div id="wrap">
	<form action="?page=registreeri" method="POST" >
		<input type="text" name="user" placeholder="kasutajanimi"/><br/>
		<input type="password" name="passw" placeholder="parool"/><br/>
		<input type="password" name="passw2" placeholder="parool teine kord"/><br/>
		<input type="submit" value="Registreeri"/>
	</form>
	<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
	<?php endif;?>
</div>