

<script>


   

			window.onload = function() {
				// pildi toggle
				pilt = document.getElementById('pilt');
				pilt.onmouseover = function () {
					//alert(this.src);
					pilt.style.border="solid red 3px";
					if (this.src.indexOf("pildid/must_car.jpg")>=0) {
						this.src="pildid/carwash.png";
					} else {
						this.src="pildid/must_car.jpg";
					}
				}
				nupp = document.getElementsByTagName('button');
				nupp[0].onclick=function(){
					teine = document.getElementsByClassName('teine');
					esimene = document.getElementsByClassName('esimene');
					if (teine[0].style.display=="none") {
						teine[0].style.display="block";
						esimene[0].style.display="none";
					} else {
						teine[0].style.display="none";
						esimene[0].style.display="block";
					}
				}
			}
			
			
	
		</script>
		
		
		
		<div id="wrap">
	<p>	Autopesula- see on autopesula Tallinnas. Meie ettevõte osutab autopesuteenuseid alates 1995. aastast. Pakume Teile kõiki pesuteenuseid alates salongi puhastusest kuni veoautode ja busside pesuni.
Kasutame kaasaegset tehnoloogiat ning uusimaid keemilisi pesuvahendeid.
 
Teenuste nimekirjast leiate käsipesu, harjapesu, surveveega pesu ja palju teisi erinevaid puhastuse liike. Kvalifitseeritud ja sõbralik töötajaskond tagab Teile meeldiva pesulakülastuse.
 
Oleme kindlad, et jääte rahule meie teenuste kvaliteediga. Ootame Teid ja Teie sõidukit!</p>
		Selleks et kasutda meie teenuseid:</br> 
			
			
			<p class="esimene">
				 <a href="?page=login">Mul on konto olemas</a> või 
				
			</p>
			<button>Vali</button>
			<p class="teine" style="display:none;">
				 <a href="?page=registreeri">Loo endale konto</a>
			</p>
			<h2>Kas tahad endale sellist autot või.........?</h2>
			
			<img src="pildid/must_car.jpg" alt="mingi pilt" id="pilt"/>
			</div>
		



