
<body onload="myFunction()">

<script>
function myFunction() {
    alert("Teie konto turvalisuse huvides klõpsa kindlasti linki Logi välja, mis asub kodulehel üleval.");
}
</script>

<div id="wrap">
<?php if (!empty($kliendid)):?>
<h3>Täname bronnerigu eest. Teie valik on järgmine:</h3>
	Teie nimi on : <?php echo $nimi; ?></br>
		Teie auto number on : <?php echo $auto; ?></br>
		Teie valitud kuupäev on : <?php echo $date; ?></br>
		Teie valitud pesu on : <?php echo $pesu; ?></br>
		
      
	<h3>Teiega võetakse ühndust, et kinnitada broneeringut.</h3>
				<?php endif; ?>

 
			
			 </div>
			</body>